*.class
*.swp
\#*
\.#*
home
/data/*
!/data/.gitkeep
/native
/target
pom.xml
/logs

# IntelliJ IDEA project files
*.ipr
*.iws
*.iml
.idea

.lsp/

/.lein-deps-sum
/.lein-repl-history
/.lein-failures
/.nrepl-port
/local-resources

.clj-kondo/.cache
bin/.cache
.cpcache
