*.class
*.swp
\#*
\.#*
home
/data/*
!/data/.gitkeep
/native
/target

# IntelliJ IDEA (La Clojure) project files
*.ipr
*.iws
*.iml

/.lein-deps-sum
/.lein-repl-history
/.lein-failures
/.nrepl-port
/local-resources
