version: '3'
services:
  dev-db:
    image: postgres:15.5
    ports:
      - "55432:5432"
    environment:
      - POSTGRES_USER=clojars
      - POSTGRES_PASSWORD=clojars
      - POSTGRES_DB=clojars
    volumes:
      - ./data/dev-postgres:/var/lib/postgresql/data
  test-db:
    image: postgres:12.1
    ports:
      - "55433:5432"
    environment:
      - POSTGRES_USER=clojars
      - POSTGRES_PASSWORD=clojars
      - POSTGRES_DB=clojars
    volumes:
      - ./data/test-postgres:/var/lib/postgresql/data
  minio:
    image: minio/minio:RELEASE.2023-04-20T17-56-55Z
    command: server /data --console-address ":9090"
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      MINIO_ROOT_USER: fake-access-key
      MINIO_ROOT_PASSWORD: fake-secret-key
  elasticmq:
    image: "softwaremill/elasticmq:1.4.2"
    ports:
      - "9324:9324"
      - "9325:9325"
    volumes:
      - type: bind
        source: ./dev-resources/elasticmq.conf
        target: /opt/elasticmq.conf
        read_only: true
