{:lint-as
 {clojars.remote-service/defendpoint    clojure.core/defn
  clojure.java.jdbc/with-db-transaction clojure.core/let}

 :linters
 {:unresolved-symbol
  {:exclude [(clojure.test/is [match?])]}}}
