{:base-url "https://clojars.org"
 :bcrypt-work-factor 12
 :bind "127.0.0.1"
 :cdn-token "NOTSET"
 :cdn-url "https://repo.clojars.org"
 :cloudfiles-container "NOTSET"
 :cloudfiles-token "NOTSET"
 :cloudfiles-user "NOTSET"
 :db {:dbtype "postgresql"
      :dbname "clojars"
      :host #profile {:default "localhost"
                      :production "NOTSET"}
      :port #profile {:default 55432
                      :test #or [#env DB_PORT 55433]
                      :production 5432}
      :user "clojars"
      :password #profile {:default "clojars"
                          :production "NOTSET"}}
 :deletion-backup-dir #profile {:default "NOTSET"
                                :test "data/test/repo-backup"}
 :index-path "data/index"
 :mail {:from "contact@clojars.org"
        :hostname "127.0.0.1"
        :tls? false}
 :nrepl-port 7991
 :port #profile {:default 8080
                 :test 0
                 :production 8001}
 :repo #profile {:default "data/dev_repo"
                 :test "data/test/repo"
                 :production "NOTSET"}
 :s3 {:access-key-id "NOTSET"
      :secret-access-key "NOTSET"
      :region "us-east-2"
      :repo-bucket #profile {:default "clojars-repo-development"
                             :production "clojars-repo-production"}
      :stats-bucket #profile {:default "clojars-stats-development"
                              :production "clojars-stats-production"}}
 :sentry-dsn "NOTSET"
 :stats-dir "data/stats"}
