{:base-url "https://clojars.org"
 :bcrypt-work-factor 12
 :bind "127.0.0.1"
 :cdn-token "NOTSET"
 :cdn-url "https://repo.clojars.org"
 :cloudfiles-container "NOTSET"
 :cloudfiles-token "NOTSET"
 :cloudfiles-user "NOTSET"
 :db {:classname "org.sqlite.JDBC"
      :subname "data/db"
      :subprotocol "sqlite"}
 :deletion-backup-dir "NOTSET"
 :index-path "data/index"
 :mail {:from "noreply@clojars.org"
        :hostname "127.0.0.1"
        :ssl false}
 :nrepl-port 7991
 :port 8080
 :repo "data/dev_repo"
 :sentry-dsn "NOTSET"
 :stats-dir "data/stats"}
