{:port 8080
 :bind "127.0.0.1"
 :cdn-url "https://repo.clojars.org"
 :db {:classname "org.sqlite.JDBC"
      :subprotocol "sqlite"
      :subname "data/db"}
 :base-url "https://clojars.org"
 :stats-dir "data/stats"
 :queue-storage-dir "data/durable-queue-slabs"
 :index-path "data/index"
 :nrepl-port 7991
 :mail {:hostname "127.0.0.1"
        :ssl false
        :from "noreply@clojars.org"}
 :bcrypt-work-factor 12
 :cloudfiles-user "NOTSET"
 :deletion-backup-dir "NOTSET"
 :cloudfiles-token "NOTSET"
 :cdn-token "NOTSET"
 :cloudfiles-container "NOTSET"
 :sentry-dsn "NOTSET"
 :repo "NOTSET"}
