{postgresql/postgresql
 "This is not the canonical driver for Postgresql. You should use <a href='https://search.maven.org/#search%7Cga%7C1%7Ca%3Apostgresql%20g%3Aorg.postgresql'>org.postgresql/postgresql from Maven Central</a> instead."}
