<configuration debug="false">

  <appender name="EDNL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.dir:-logs}/clojars.ednl</file>
    <!-- Handling rotation here instead of via logrotate in the server config to avoid restarting the process -->
     <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
       <fileNamePattern>${log.dir:-logs}/clojars-%d{yyyy-MM-dd}.%i.ednl.gz</fileNamePattern>
       <maxFileSize>64MB</maxFileSize>    
       <maxHistory>14</maxHistory>
       <totalSizeCap>512GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.dir:-logs}/clojars.log</file>
    <!-- Handling rotation here instead of via logrotate in the server config to avoid restarting the process -->
     <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
       <fileNamePattern>${log.dir:-logs}/clojars-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
       <maxFileSize>64MB</maxFileSize>    
       <maxHistory>14</maxHistory>
       <totalSizeCap>512GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} | %msg%n</pattern>
    </encoder>
  </appender>
 
  <root level="INFO">
    <appender-ref ref="LOG" />
  </root>

  <!-- additivity=false excludes this logger from the root log appenders -->
  <logger name="clojars" level="${log.level:-ALL}" additivity="false">
    <appender-ref ref="EDNL" />
  </logger>
  
</configuration>
