/* COLORS:
 * FIXME: double check these
brown:         #622c15
search blue:   #4098cf
link blue:     #00adef
green:         #93c83f
orange:        #f2511b
gray:          #e6e7e9
dark gray:     #3e3e3f
lightish gray: #e2e4e3
light gray:    #f2f3f4
*/

body {
  background: #e2e4e3;
  font-family: "museo-sans-rounded", Arial, "Liberation Sans", FreeSans, sans-serif;
}

a {
  color: #00adef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home {
  text-align: left;
  margin: 0;
}

.home a {
  color: #93c83f;
}

.heavy {
  font-weight: 700;
}

.main-navigation {
  text-align: right;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-navigation a {
  color: white;
}

.main-navigation li {
  display: inline;
  margin-left: 30px;
}

/* FIXME:
 * the font sizes and spacing is off here
 */
.hero {
  padding: 15px 25px 50px;
  background-color: #622C15;
  text-align: center;
  color: white;
}

.hero-text {
  clear: both;
  font-size: 2.2em;
  line-height: 1.5em;
  font-weight: 300;
}

.getting-started {
  clear: both;
  font-size: 1.2em;
  line-height: 1.6em;
}

.search-form-container {
  margin: 50px 0;
}

.search-text, .search-button {
  padding: 15px 30px;
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: 300;
}

/* FIXME:
 * this isn't the right width (doesn't match the comp) and doesn't work well on
 * mobile
 *
 * also the text color is probably wrong (both placeholder and actual typed
 * text)
 */
.search-text {
  color: black;
  width: 50%;
  background-color: #e9e9e9;
  border-radius: 10px 0 0 10px;
  border: none;
}

/* FIXME:
 * this doesn't work well on mobile
 *
 * also make sure the active/hover states are right and add transitions (if desired)
 */
.search-button {
  min-width: 160px;
  background: #4098cf;
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
}

/* FIXME
 * the padding on here and on the hero/home is off
 */
.push-information {
  padding: 40px 10px;
}

.push-header {
  font-weight: 400;
  margin-left: 15px;
}

/* FIXME:
 * center the leiningen push information
 */
.push-example {
  padding: 25px;
  background: white;
  border-radius: 10px;
  margin-top: 15px;
  height: 130px;
}

.push-example .tag {
  color: #f2511b;
}


.recent-header {
  color: #4f4c4c;
  text-transform: uppercase;
  border: solid #f4f4f4;
  border-width: 1px 0;
  text-align: center;
  padding: 10px;
  margin: 40px;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

/* FIXME
 * the padding around these is wrong
 *
 * missing download stats in the markup or data (so that's unstyled)
 */
.recent-jar {
  background: white;
  border-top: 8px solid #87cf29;
  padding: 10px 20px;
}

.recent-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.recent-title a {
  color: #4098cf;
}

.recent-jar {
  height: 110px;
  margin-bottom: 30px;
}

/* .useit div .string { */
/*   color: #cc9393; */
/* } */

footer {
  text-align: center;
  margin: 40px 0;
  font-weight: 400;
  font-size: 1.1em;
}

footer a {
  color: #393536;
  margin: 0 5px;
}
