/* COLORS:
 * FIXME: double check these
brown:         #622c15
search blue:   #4098cf
link blue:     #00adef
green:         #93c83f
orange:        #f2511b
gray:          #e6e7e9
dark gray:     #3e3e3f
lightish gray: #e2e4e3
light gray:    #f2f3f4
*/

body {
  background: #e2e4e3;
  font-family: "museo-sans-rounded", Arial, "Liberation Sans", FreeSans, sans-serif;
  transition-timing-function: ease;
  transition-duration: 1s;
}

a {
  color: #00adef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home {
  text-align: left;
  margin: 0;
}

.home a {
  color: #93c83f;
}

.heavy {
  font-weight: 700;
}

.main-navigation {
  text-align: right;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  vertical-align: middle;
}

.main-navigation a {
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.main-navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.main-navigation li {
  display: inline;
  margin-left: 15px;
}

.hero, .small-header {
  padding: 15px 25px 50px;
  background-color: #622c15;
  text-align: center;
  color: white;
}

.small-header {
  padding: 20px 25px 60px;
}

.hero-text {
  clear: both;
  font-size: 2.4em;
  line-height: 1.5em;
  font-weight: 300;
  padding-top: 30px;
}

.getting-started {
  clear: both;
  font-size: 1.2em;
  line-height: 1.6em;
  height: 4em;
}

.hero .search-form-container {
  white-space: nowrap;
  margin: 50px 0;
}

.hero .search-text, .hero .search-button {
  padding: 15px 30px;
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: 300;
}

/* FIXME: add active/hover states? */
.search-text {
  box-sizing: border-box;
  color: black;
  width: 60%;
  background-color: #e9e9e9;
  border-radius: 10px 0 0 10px;
  border: none;
}

.small-header .search-text {
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 5px;
}

/* FIXME: add active/hover states? */
.search-button {
  min-width: 150px;
  background: #4098cf;
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
}

.push-information {
  padding: 40px 30px 0;
}

.push-header {
  font-weight: 400;
  margin-left: 15px;
}

.push-example {
  padding: 25px;
  background: white;
  border-radius: 10px;
  margin-top: 15px;
  height: 130px;
  overflow-x: auto;
}

/* override bootstrap's default overflow */
pre {
  overflow: visible;
}

.push-example .tag {
  color: #f2511b;
}

/* bump the leiningen push example text down a little so it's closer to
 * vertically centered
 */
.push-example-leiningen {
  margin-top: 20px;
}

.recent-jars-header-container {
  margin: 0 30px;
}

.recent-jars-header {
  color: #4f4c4c;
  text-transform: uppercase;
  border: solid #f4f4f4;
  border-width: 1px 0;
  text-align: center;
  padding: 10px 0 ;
  margin: 40px 0;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

.recent-jars-list {
  margin: 0 15px;
}

.recent-jar {
  cursor: pointer;
  background: white;
  border-top: 8px solid #87cf29;
  padding: 10px 20px;
  height: 150px;
  margin-bottom: 30px;
  transition: border-color 0.2s ease-in-out;
}

.recent-jar:hover {
  border-top-color: #f16621;
}

.recent-jar:hover a {
  text-decoration: underline;
}

.recent-jar-description {
  font-size: 1.1em;
}

.recent-jar-title {
  margin-bottom: 10px;
  font-size: 1.4em;
}

.recent-jar-title a {
  color: #4098cf;
  /* make the entire box clickable
   *
   * this is the only link in this box
   */
  padding: 20px 90% 110px 20px;
  margin-left: -20px;
}

footer {
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  padding: 40px 0 50px;
  clear: both;
}

footer a {
  color: #393536;
  margin: 0 5px;
}

/* See http://getbootstrap.com/css/#grid-media-queries for more information
 * about bootstrap's breakpoints
 */
@media (max-width: 768px) {
  /* Hide the search button on small screens */
  .search-button {
    display: none;
  }

  .search-text {
    border-radius: 10px;
    width: 90%;
  }

  /* reflow the 'hero' and 'getting started' text on small screens  */
  .getting-started > .col-md-12, .hero-text > .col-md-12 {
    display: inline;
    padding: 0
  }
}
