body {
  font-family: "museo-sans-rounded", Arial, "Liberation Sans", FreeSans, sans-serif;
  background: #e2e4e3;
}

a {
  color: #00adef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #393536;
}

h4 {
  margin-bottom: 5px;
}

h1 {
  font-size: 2.4em;
  margin: 30px 0 15px;
  padding: 0;
}

label, h2 {
  color: #4f4c4c;
  font-size: 1.2em;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

/* .generic-input { */
input, textarea {
  background-color: #e9e9e9;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
}

.home {
  text-align: left;
  display: flex;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.home a {
  color: #867ec4;
  text-decoration: none;
}

.home h1 {
  display: inline-block;
  margin: 0 0 0 0.5em;
}

.home p {
  margin: 0;
  display: inline-block;
  padding-top: 10px;
}

.heavy {
  font-weight: 700;
}

.hint {
  color: #717171;
}

.hint, .hint-link {
  margin-bottom: 10px;
  display: block;
}

.error {
  color: #c9302c;
  margin-bottom: 10px;
}

.page-nav {
  clear: left;
  font-size: 1.2em;
  /* FIXME: this should be margin instead */
  padding-top: 30px;
  word-spacing: 5px;
  text-align: center;
}

.page-nav > span, .page-nav > em {
  margin: 5px;
}

.page-nav > a {
  padding: 5px;
}

/* FIXME: add active/hover states? */
input[type=submit], a.login-button {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 10px;
  border-radius: 4px;
  background: #4098cf;
  color: white;
}

/* override bootstrap's default overflow */
pre {
  overflow: visible;
}

footer {
  background: #e2e4e3;
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  padding: 40px 20px 50px;
  clear: both;
}

footer a {
  display: inline-block;
  color: #393536;
  margin: 0 5px;
}

.navigation {
  text-align: right;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  vertical-align: middle;
}

.navigation a {
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.navigation a:hover {
  text-decoration: none;
}

.navigation li {
  display: inline;
  margin-left: 15px;
}

.main-navigation a {
  color: #ffb33b;
}

.main-navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.secondary-navigation {
  background-color: #e2e4e3;
}

.secondary-navigation a {
  color: #380036;
}

.secondary-navigation a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hero header .home h1 {
  padding-top: 20px;
}

.hero header .main-navigation {
  padding-top: 22px;
}

/* FIXME: bump the font down by half on mobile
 * (see the media query at the bottom)
 */
.hero, .small-header {
  padding: 15px 25px 50px;
  background-color: #380036;
  text-align: center;
}

.hero h2 {
  color: white;
}

.small-header {
  padding: 20px 25px 60px;
}

.small-header input {
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 5px;
}

.hero-text {
  clear: both;
  font-size: 2.4em;
  line-height: 1.5em;
  font-weight: 300;
  padding-top: 30px;
}

/* FIXME: add active/hover states? */
.hero input {
  border-radius: 10px 0 0 10px;
  padding: 15px 30px;
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: 300;
}

.hero input[type=search] {
  width: 60%;
}

.hero input[type=submit] {
  width: 150px;
  border-radius: 0 10px 10px 0;
}

.getting-started {
  clear: both;
  font-size: 1.2em;
  line-height: 1.6em;
  height: 4em;
}

.search-form-container {
  white-space: nowrap;
  margin: 50px 0;
}

.search-query-syntax {
    margin-bottom: 15px;
}

#content-wrapper {
  background: white;
  margin: 0 -15px;
  padding: 0 15px;
}

.push-information {
  padding: 40px 30px 0;
}

.push-header {
  font-weight: 400;
  margin-left: 15px;
}

.light-article {
  margin-bottom: 80px;
  padding: 0 35px;
}

/* thanks: http://css-tricks.com/snippets/css/clear-fix/ */
.light-article:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.small-section {
  max-width: 550px;
  margin: 0 auto 80px;
  clear: both;
}

.push-example {
  padding: 25px;
  background: white;
  border-radius: 10px;
  margin-top: 15px;
  height: 130px;
  overflow-x: auto;
}

.string, .tag {
  color: #f2511b;
}

/* bump the leiningen push example text down a little so it's closer to
 * vertically centered
 */
.push-example-leiningen {
  margin-top: 20px;
}

#jar-info-bar {
  display: inline-block;
  width: 100%;
  border: solid #d3d3d3;
  border-width: 1px 0;
  padding: 10px 0;
  text-align: center;
}

#jar-info-bar img {
  margin-right: 10px;
}

#jar-info-bar li {
  padding: 5px 15px;
  display: inline-block;
  border-left: 1px solid #d3d3d3;
}

#jar-info-bar li:first-child {
  border: 0;
  padding-left: 0;
}

.recent-jars-header {
  color: #4f4c4c;
  text-transform: uppercase;
  border: solid #f4f4f4;
  border-width: 1px 0;
  text-align: center;
  padding: 10px 0 ;
  margin: 40px 0;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

.recent-jars-header-container {
  margin: 0 30px;
}

.recent-jars-list {
  margin: 0 15px;
  display: inline;
}

.recent-jar {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  background: white;
  border-top: 8px solid #87cf29;
  padding: 10px 20px;
  height: 175px;
  margin-bottom: 30px;
  transition: border-color 0.2s ease-in-out;
}

.total-downloads {
  bottom: 0;
  position: absolute;
}

.recent-jar:hover {
  border-top-color: #f16621;
}

.recent-jar:hover a {
  text-decoration: underline;
}

.recent-jar-description {
  font-size: 1.1em;
}

.recent-jar-title h3 {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 1.4em;
  display: inline;
}

.recent-jar-title h3 a {
  color: #4098cf;

  overflow-wrap: break-word;

  /* width: 100%;
  display: block; */
}

/* FIXME: should this be a class? */
#jar-sidebar {
  margin-top: 30px;
  font-size: 1.1em;
}

/* FIXME: add classes? (dependency-item or something?) */
#jar-sidebar > li {
  min-height: 125px;
  padding: 10px 4px;
  border-top: 3px solid #4f4c4c;
}

#jar-sidebar textarea {
  font-family: monospace;
  padding: 4px 5px;
  color: #999;
  background-color: white;
  border: solid slategrey 1px;
  resize: none;
  margin-top: 0.5em;
/*  white-space: nowrap;*/
}

#jar-sidebar ul#dependents,
#jar-sidebar ul#versions {
  margin-bottom: 1em;
}

div.dependent-jar, div.dependent-versions {
    padding-left: 1em;
}

/* FIXME: clean up these class names so they can be reused */
.result {
  position: relative;
  height: 150px;
  margin: 15px 0;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px 15px;
  overflow: auto;
}

.package-config-example {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px 10px;
  overflow-x: auto;
}

.package-config-example:last-of-type {
  margin-bottom: 20px;
}

#notice, .help {
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

#notice.info {
  background-color: #ffb33b;
}

#notice.info a {
    color: #00f;
}

#notice.error {
  background-color: #ff2929;
  color: #393536;
}

.error ul {
   list-style-type: disc;
   list-style-position: inside;
}

.help {
    background-color: #f4f4f4;
    padding-bottom: 10px;
}

.help ul {
    list-style: inside;
}

#jar-title h1 a {
  color: #393536;
  overflow-wrap: break-word;
}

#group-title h1, #jar-title h1 {
    display: inline;
    margin-right: 10px;
}

#jar-title .description {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.verified-group {
    background-color: #009900;
    padding: 2px 5px;
    border-radius: 3px;
}

.verified-group a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.verified-group.small {
    background-color: #009900;
    padding: 0px 4px;
    border-radius: 3px;
    margin-left: 5px;
}

.verified-group.small a {
    font-size: 0.8em;
}


/* See http://getbootstrap.com/css/#grid-media-queries for more information
 * about bootstrap's breakpoints
 */
@media (max-width: 768px) {
  /* Hide the search button on small screens */
  .hero input[type=submit] {
    display: none;
  }

  .hero input[type=search] {
    border-radius: 10px;
    width: 75%;
  }

  .hero, .small-header {
    padding: 15px 15px 50px;
  }

  .push-information {
    padding: 40px 15px 0;
  }

  .light-article {
    padding: 0 15px;
  }

  .recent-jars-list {
    padding: 0;
  }

  .recent-jar {
    height: 200px;
  }

  .main-navigation {
    text-align: center;
  }

  #jar-info-bar {
    margin-left: 0;
    padding: 0;
  }

  #jar-info-bar li {
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #d3d3d3;
    border-left: 0;
  }

  /* reflow the 'hero' and 'getting started' text on small screens  */
  .getting-started > .col-md-12, .hero-text > .col-md-12 {
    display: inline;
    padding: 0;
  }

  /* slightly tweak padding of 'getting started' for better mobile legibility */
  .getting-started {
      padding: 0 25px;
  }

  .small-header {
    padding-bottom: 90px;
  }

  .small-header .home h1 {
    font-size: 1.3em;
    padding-top: 10px;
  }

  .small-header .home h1 a {
    padding-left: 5px;
  }

  .small-header .main-navigation {
    font-size: 0.7em;
  }
}

.sponsors {
  padding-top: 10px;
  color: #999;
}

.sponsors-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sponsor {
    padding: 1em;
}

.sponsor img {
    width: 120px;
}

.result a.fork {
  font-style: italic;
}

ul#blockers li {
  list-style-type: disc;
  list-style-position: inside;
}

.dash-palette {
  background: #f4f4f4;
  border-radius: 10px;
  padding: 0 10px 10px;
  min-height: 100px;
}

.dash-palette h2 {
  padding-top: 10px;
}

.dash-palette ul {
  color: #393536;
  list-style-type: disc;
  list-style-position: inside;
}

pre.error-id {
    white-space: pre-wrap;
    background: #e2e4e3;
    text-align: center;
    margin-top: 10px;
}

.raw-text p, .raw-text li, .raw-text ul {
  margin-bottom: 14px;
}

.raw-text ul {
  padding-left: 40px;
}

.raw-text li {
  list-style-type: initial;
}

.add-member input#username {
    width: auto;
}

input.button {
    font-size: 14px;
    letter-spacing: 0px;
    margin: 5px;
    padding: 5px;
    width: auto;
}

input.green-button {
    background-color: green;
}

input.red-button {
    background-color: red;
}

.token-table input[type="checkbox"] {
  width: 1em;
  margin-left: 3px;
  margin-right: 12px;
}

table.audit th,
table.audit td,
.group-member-list th,
.group-member-list td,
table.deploy-tokens th,
table.deploy-tokens td {
    padding: 0 5px;
}

table.deploy-tokens tr.token-disabled td.name,
table.deploy-tokens tr.token-expired td.name,
table.deploy-tokens tr.token-used td.name {
    text-decoration: line-through;
}

.new-token {
    text-align: center;
}

.new-token pre {
    background-color: #e9e9e9;
    padding: 5px;
}

a.login-button {
  background: #24292e;
  color: #ffffff;
  padding: 5px 10px;
  display: block;
  -webkit-appearence: button;
  text-align: center;

  margin-top: 15px;
}

a.login-button img {
  margin: 0 10px 5px 0;
}

a.github-login-button img {
  filter: invert(100%);
}

a.login-button:hover, a.login-button:focus {
  text-decoration: none;
}

#login-or {
  text-align: center;
}

.form-table label {
  margin-right: 10px;
}

.form-table input {
  width: auto;
}
