/* COLORS:
brown: #53321f
blue: #1d96c9
search blue: #238db5
green: #93c83f
orange: #f46422
gray: #e6e7e9
dark gray: #3e3e3f
lightish gray: #e2e4e3
light gray: #f2f3f4
*/

body {
  background: #e2e4e3;
  font-family: "museo-sans-rounded", Arial, "Liberation Sans", FreeSans, sans-serif;
  line-height: 150%;
}

header {
  padding-top: 10px;
}

.header {
  background: #53321f;
  padding-bottom: 50px;
}

.header h1 a {
  color: #93c83f;
  font-size: 3em;
}

.header h2 {
  clear: both;
  color: #fff;
  text-align: center;
  padding: 0 20%;
  line-height: 1em;
  font-size: 2.5em;
  font-weight: 300;
}

.article h1 {
  color: #3e3e3f;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.article h2 {
  color: #3e3e3f;
  margin-bottom: 20px;
  margin-top: 40px;
}


a {
  color: #238db5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;

  background: #e2e4e3;
}

nav {
  float: right;
  display: block;
  height: 40px;

  margin-right: 10px;

  font-size: 20px;
  text-align: right;
}

nav ul {
  display: inline;
}
nav ul li {
  display: inline;
}

nav form {
  clear: right;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 5px;
}

.search {
  text-align: center;
}

#search {
  background: #eee;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border: 0 none;
  width: 300px;
}

#search-button {
  background: #238db5;
  color: white;
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border: 0 none;
}

.error {
  display: block;
  border: 2px solid #f66;
  background: #fdd;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#flash {
  display: block;
  border: 2px solid #693;
  background: #fdd;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

ul li {
  padding: 0.25em;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
}

input[type=submit] {
  width: auto;
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 8em;
  margin-top: 5px;
}

footer {
  background: #e2e4e3;
  display: block;
  text-align: center;
  color: #3e3e3f;
  font-weight: bold;
}

footer a {
  color: #3e3e3f;
  margin: 20px;
}

.useit-lein h3 {
  text-align: left;
  margin-bottom: 20px;
  color: #3e3e3f;
}

.useit-maven h3 {
  text-align: left;
  margin-bottom: 20px;
  color: #3e3e3f;
}

.useit-lein {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.useit-maven {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.maven {
  background: #fff;
  color: black;
  width: 95%;
  height: 150px;

  border-radius: 10px;
}

.lein {
  background: #fff;
  color: black;
  width: 95%;
  height: 150px;

  border-radius: 10px;
}

.gradle {
  background: #fff;
  color: black;
  width: 95%;
  height: 150px;

  border-radius: 10px;
}

.lein pre {
  padding: 20px 0 0 20px;
}

.maven pre {
  padding: 20px 0 0 20px;
}

.recent {
  clear: left;
  color: #3e3e3f;
  padding-top: 20px;
  text-transform: uppercase;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  padding-bottom: 20px;
}
.useit-lein div .tag, .useit-maven div .tag {
  color: #de5e33;
}

.useit div .string {
  color: #cc9393;
}

.add-member input {
  width: 200px;
  margin-right: 10px;
}

.desc {
  color: #444;
  font-size: 90%;
}

.details {
  color: #444;
  font-size: 80%;
}

.search-results, .browse-results {
  list-style-type: none;
  margin-bottom: .4em;
}

.stacktrace {
  font-size: 0.75em;
  overflow-x: scroll;
}

p.hint {
  margin: 0;
  color: #555;
}

.page-nav {
  padding: 0 2em 2em;
  text-align: center;
}

.page-nav * {
  padding: 5px;
  text-align: center;
  font-weight: 900;
}

.page-nav .disabled, .page-nav .current {
  color: #777;
}

.page-description {
  color: #444;
}

.browse-from {
  display: inline;
}

.browse-from label {
  color: #444;
  font-size: 60%;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 5px;
}

.browse-from input#from {
  display: inline;
  width: 200px;
  margin-bottom: 0;
}

.browse-from input#jump {
  display: none;
}

.fork a {
  font-style: italic;
}

.fork-notice {
  font-style: italic;
  font-size: 0.8em;
}

.downloads {
  float: right;
  font-size: 0.6em;
}

.recent-jar {
  display: block;
  float: left;
  width: 25%;
  height: 200px;
  margin: 10px 75px 10px 0;
  background: #fff;
  border-top: 8px solid #93c83f;
}

.recent-jar .jar {
  padding: 10px 0 10px 10px;
}

.recent-jar .jar h3 a {
  font-size: 2em;
  color: #238db5;
}

.recent-jar .jar p {
  background: #fff;
}

.heavy {
  font-weight: 700;
}

#jar-title h1 {
  font-size: 2.5em;
  font-weight: 700;
}

#jar-info-bar ul {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#jar-info-bar ul li {
  display: inline-block;
  text-align: center;
  width: 30%;
}

#jar-info-bar ul li:not(:last-of-type) {
  border-right: 1px solid #fff;
}

ul#jar-sidebar {
  list-style: none;
}

ul#jar-sidebar li {
  list-style-type: none;
  display: block;
}

ul#jar-sidebar > li {
  border-top: 5px solid black;
}