{:deps
 {:org.clojure/clojure {:mvn/version "1.10.1"}
  :org.clojure/java.jdbc {:mvn/version "0.7.11"}
  :org.postgresql/postgresql {:mvn/version "42.2.9"}
  :org.xerial/sqlite-jdbc {:mvn/version "3.8.11.2"}}}
